<h1>本の詳細ページ</h1>

<div>
  <h4>User info</h4>
  <li>name:<%= @user.name %></li>
  <li>introduction</li>
  <li>
    <%= link_to 'Edit', edit_user_path(current_user.id) %>
  </li>
</div>


<h4>New book</h4>
<%= form_with model:@new_book, local:true do |f| %>
  <li>Title</li>
  <%= f.text_field :title %>
  <li>Opinion</li>
  <%= f.text_area :body %>
  <%= f.submit 'Create book' %>
<% end %>


 <h1>Book detail</h1>

 <!--<%# @book.each do |book| %>-->
 <!--  <%#= attachment_image_tag book, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>-->
 <!--  <p><%#= book.user.name %></p>-->
 <!--  <p><%#= book.title %></p>-->
 <!--  <p><%#= book.body %></p>-->
 <!--<%# end %>-->


 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
 <%= @user.name %>
 <%= @book.title %>
 <%= @book.body %>
 <% if @book.user == current_user %>
 <div>
   <%= link_to "Edit", edit_book_path(@book) %>
   <%= link_to "Destroy", book_path(@book), method: :delete %>
 </div>
 <% end %>