<h1>本の詳細ページ</h1>

<div>
  <h4>User info</h4>
  <li>name:<%= @user.name %></li>
  <li>introduction</li>
  <li>
    <%= link_to 'Edit', edit_user_path(current_user.id) %>
  </li>
</div>


<h4>New book</h4>
<%= form_with model:@new_book, local:true do |f| %>
  <li>Title</li>
  <%= f.text_field :title %>
  <li>Opinion</li>
  <%= f.text_area :body %>
  <%= f.submit 'Create book' %>
<% end %>


 <h1>Book detail</h1>
 <%= @book.title %>
 <%= @book.body %>